:root {
    --primary-bg: #1a120b;
    --primary-text-color: #fff;
    --secondary-text-color: #b89b7b;
    --theme-text-color: #b77f2e;
    --primary-button-bg: #7a5c2e;
    --primary-button-bg-img: linear-gradient(to right, #7a5c2e 0%, #3d2e1a 100%);
    --primary-button-text-color: #fff;
    --outline-button-text-color: #fff;
    --outline-button-border-color: #b77f2e;
    --standard-form-container-bg: #1f170f;
    --standard-form-container-bg-img: linear-gradient(to bottom, #1f170f 0%, #1a120b 100%);
    --standard-form-content-bg: #2a1f15;
    --standard-form-title-color: #d4a259;
    --standard-form-label-color: #fff;
    --standard-form-input-bg: #0f0b07;
    --standard-form-input-text-color: #fff;
    --standard-form-input-border-color: #5e4a35;
    --standard-form-input-copy-button-bg: linear-gradient(to right, #b77f2e 0%, #7a5c2e 100%);
    --standard-form-input-disabled-bg: #101010;
    --standard-form-input-disabled-text-color: #999;
    --standard-form-note-bg: #5e4a35;
    --standard-form-note-color: #fff;
    --standard-form-group-link-text-color: #fff;
    --standard-content-block-bg: #2a1f15;
    --standard-remark-container-bg: #1f170f;
    --standard-remark-container-text-color: #fff;
    --standard-remark-container-border-color: #b77f2e;
    --standard-remark-notification-container-bg: #ffffff1a;
    --standard-remark-notification-title-text-color: #fff;
    --standard-remark-notification-content-text-color: #bebebe;
    --standard-remark-content-container-p-color: #d8d8d8;
    --modal-header-bg: #2a1f15;
    --modal-header-bg-img: linear-gradient(to right, #3d2e1a 0%, #5e4a35 100%);
    --modal-content-bg: #0f0b07;
    --modal-footer-border-top-bolor: #2a1f15;
    --simple-modal-hr-bg: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #b77f2e));
    --form-input-icon-color: #7a5c2e;
    --reporting-navbar-bg: #252339;
    --reporting-navbar-active-bg: #5e4a35;
    --reporting-navbar-active-bg-img: none;
    --standard-icon-filter: invert(1);
    --announcement-bg: rgba(26, 18, 11, .89);
    --announcement-text-color: #b89b7b;
    --carousel-indicator-bg: transparent;
    --carousel-indicator-active-color: #b77f2e;
    --jackpot-container-bg-img: linear-gradient(#b77f2e, #1a120b);
    --jackpot-inner-container-bg: #0f0b07;
    --jackpot-border-container-bg: #000;
    --jackpot-border-container-border-color: #5e4a35;
    --jackpot-currency-text-color: #b77f2e;
    --main-menu-outer-container-navigation-bg: #b77f2e;
    --main-menu-outer-container-navigation-icon-color: #fff;
    --main-menu-outer-container-link-color: #d4a259;
    --main-menu-outer-container-link-active-color: #b77f2e;
    --home-section-title-container-bg: #3d2e1a;
    --home-section-title-container-bg-img: linear-gradient(to right, #3d2e1a 0%, #7a5c2e 100%);
    --download-apk-section-platform-title-color: #d4a259;
    --download-apk-section-button-bg: #b77f2e;
    --download-apk-section-guide-link-color: #b77f2e;
    --forgot-password-icon-filter: brightness(0) invert(1);
    --body-bg: #1a120b;
    --body-home-bg: #0f0b07;
    --site-header-bg: #1f170f;
    --site-header-button-bg: #b77f2e;
    --site-header-button-bg-img: linear-gradient(to right, #b77f2e 0%, #7a5c2e 100%);
    --site-menu-bg: #0f0b07;
    --side-menu-trigger-bar-icon-bg: #d4a259;
    --side-menu-trigger-before-bg: rgba(0, 0, 0, .8);
    --side-menu-trigger-before-box-shadow: 1px 0 2px rgba(255, 255, 255, .3);
    --site-menu-list-border-top-color: #2a1f15;
    --site-menu-list-item-bg: #0f0b07;
    --site-menu-list-item-text-color: #b89b7b;
    --site-menu-list-item-border-left-color: #b89b7b;
    --side-menu-login-panel-bg: #1a120b;
    --side-menu-login-panel-bg-img: linear-gradient(to right, #1a120b 0%, #2a1f15 100%);
    --side-menu-login-panel-login-button-bg: #b77f2e;
    --side-menu-login-panel-login-button-bg-img: linear-gradient(to right, #b77f2e 0%, #7a5c2e 100%);
    --side-menu-login-panel-login-button-text-color: #fff;
    --side-menu-login-panel-register-button-color: #d4a259;
    --side-menu-login-panel-telegram-bot-link-img-border: #ffffff1a;
    --side-menu-username-text-bg: -webkit-linear-gradient(right, #b77f2e, #7a5c2e 50%);
    --side-menu-balance-field-bg: #0f0b07;
    --side-menu-balance-field-text-color: #fff;
    --side-menu-balance-field-border-color: #2a1f15;
    --side-menu-balance-field-real-balance-text-color: #b77f2e;
    --side-menu-locked-balance-container-bg: #1a120b;
    --side-menu-experience-point-text-color: #fff;
    --site-footer-link-active-color: #d4a259;
    --site-footer-menu-bg: #1f170f;
    --site-footer-menu-text-color: #b89b7b;
    --site-info-bg: #0f0b07;
    --floating-action-button-bg: linear-gradient(90deg, #7a5c2e 0%, #b77f2e 100%);
    --floating-action-button-border-color: #d4a259;
    --floating-action-button-box-shadow: 0 4px 24px 0 #7a5c2e80;
    --loyalty-info-container-bg: linear-gradient(0deg, #1f170f 0%, #3d2e1a 89.01%, #2a1f15 99%);
    --loyalty-info-experience-container-bg: #1f170f;
    --loyalty-info-experience-container-separator-border-color: #3e3e3e;
    --loyalty-info-experience-progress-bg: #2e2a42;
    --loyalty-info-balance-container-bg: #060606;
    --loyalty-info-balance-container-amount-color: #b77f2e;
    --vendor-balances-container-color: #d4a259;
    --info-center-panel-heading-bg: #3d2e1a;
    --info-center-panel-heading-text-color: #b77f2e;
    --search-popup-bg: #0a0a0a;
    --search-popup-close-icon-img-filter: initial;
    --search-popup-title-icon-img-img-filter: invert(14%) sepia(97%) saturate(7439%) hue-rotate(323deg) brightness(98%) contrast(101%);
    --search-input-bg: #141414;
    --search-input-text-color: #fff;
    --search-input-border-color: #2b2b2b;
    --search-result-section-title-bg: #1d1d1d;
    --recent-searches-section-title-text-color: #6c6c6c;
    --recent-searches-history-item-bg: #141414;
    --recent-searches-history-item-text-color: #fff;
    --tab-menu-container-bg: #1f170f;
    --tab-menu-container-border-right-color: #1a120b;
    --tab-menu-container-active-bg: #5e4a35;
    --account-summary-referral-code-container-bg: #1a120b;
    --account-summary-referral-code-container-color: #b77f2e;
    --account-summary-last-transaction-table-header-bg: #3d2e1a;
    --account-summary-last-transaction-table-body-bg: #0f0b07;
    --payment-account-list-arrow-icon-filter: invert(1);
    --payment-account-default-label-bg: #41404c;
    --payment-account-default-label-text-color: #d8d8df;
    --payment-account-default-label-border-color: #908fa1;
    --register-page-payment-method-container-bg: #1f170f;
    --register-page-reminder-text-color: #b2b0b9;
    --register-done-container-text-color: #d5d5d5;
    --register-done-container-sub-text-color: #7c7c7c;
    --register-done-verification-remarks-container-bg: #1a120b;
    --register-done-verification-remarks-container-text-color: #fff;
    --register-done-verification-remarks-container-link-text-color: #b77f2e;
    --register-done-verification-remarks-container-border-color: #b77f2e;
    --pending-transaction-card-bg: #1f170f;
    --pending-transaction-card-main-text-color: #fff;
    --pending-transaction-card-sub-text-color: #bbb;
    --pending-transaction-card-bank-info-bg: #1f170f;
    --pending-transaction-card-bank-info-icon-filter: initial;
    --pending-transaction-card-copy-icon-filter: invert(1);
    --pending-transaction-card-hr-border-top-color: #5e4a35;
    --pending-transaction-card-hr-border-bottom-color: #272727;
    --pending-transaction-summary-footer-border-top-color: #d5bde3;
    --pending-transaction-summary-detail-container-bg: #1f170f;
    --pending-transaction-summary-detail-container-text-color: #fff;
    --pending-transaction-summary-detail-container-border-color: #b77f2e;
    --pending-transaction-summary-detail-button-bg: #b77f2e;
    --pending-transaction-details-container-bg: #1f170f;
    --pending-transaction-details-container-text-color: #fff;
    --pending-transaction-details-container-border-color: #404040;
    --pending-transaction-details-item-bg: #2a1f15;
    --pending-transaction-details-item-border-color: #404040;
    --pending-transaction-details-item-copy-img: invert(0);
    --pending-transaction-details-item-icon-filter: initial;
    --pending-transaction-details-item-img-bg: #b77f2e1a;
    --pending-transaction-details-item-secondary-color: #bdbdbd;
    --pending-transaction-details-item-hr-border-color: rgba(224, 224, 224, .2);
    --pending-transaction-details-pending-bonus-remarks-bg: #ffffff0f;
    --pending-transaction-details-pending-bonus-remarks-text-color: #fff;
    --pending-transaction-details-pending-bonus-remarks-border-color: #fff9;
    --deposit-payment-method-selection-active-bg: #b77f2e;
    --deposit-payment-method-selection-active-bg-img: linear-gradient(to bottom, #b77f2e 0%, #7a5c2e 100%);
    --deposit-container-bank-info-bg: #1f170f;
    --deposit-container-bank-info-copy-icon-filter: invert(1);
    --deposit-container-bank-info-hr-border-top-color: #5e4a35;
    --deposit-container-bank-info-hr-border-bottom-color: #393939;
    --deposit-container-bank-info-sub-text-color: #b2b0b9;
    --deposit-container-bank-info-admin-fee-text-color: #d4a259;
    --deposit-container-bank-info-icon-filter: initial;
    --deposit-summary-container-border-color: #1f170f;
    --deposit-summary-header-bg: #1f170f;
    --deposit-summary-header-text-color: #fff;
    --deposit-summary-header-text-amount-color: #d4a259;
    --deposit-summary-content-bg: #0f0b07;
    --deposit-summary-detail-text-sub-color: #dbdbdb;
    --deposit-summary-footer-border-top-color: #2a1f15;
    --bonus-selection-container-bg: #3d2e1a;
    --bonus-selection-container-text-color: #fff;
    --bonus-selection-container-border-color: #b77f2e;
    --bonus-selection-container-cancel-button-color: #fff;
    --bonus-selection-popup-bg: #0f0b07;
    --bonus-selection-popup-text-color: #fff;
    --bonus-selection-popup-close-icon-filter: initial;
    --bonus-selection-card-bg: #1d1c21;
    --bonus-selection-card-border-color: #42404c;
    --bonus-selection-card-selected-bg: #3d2e1a;
    --bonus-selection-card-selected-border-color: #b77f2e;
    --bonus-selection-card-disabled-bg: #333;
    --bonus-selection-card-disabled-border-color: #42404c;
    --bonus-selection-card-apply-button-bg: #35333b;
    --bonus-selection-card-apply-button-border-color: #5a5762;
    --bonus-selection-card-cancel-button-bg: #3c1e1e;
    --bonus-selection-card-cancel-button-text-color: #ff7272;
    --bonus-selection-card-cancel-button-border-color: #582c2c;
    --bonus-selection-card-detail-bg: #3a3842;
    --bonus-selection-card-detail-highlighted-section-bg: #27252c;
    --bonus-selection-card-detail-highlighted-section-text-color: #d0d0d0;
    --bonus-selection-card-detail-disabled-text-color: #e7e7e7;
    --bonus-selection-card-remarks-bg: #4f0001;
    --bonus-selection-card-remarks-text-color: #fff;
    --bonus-selection-card-remarks-border-color: #e60105;
    --withdrawal-remark-container-bg: rgba(255, 0, 0, .09);
    --withdrawal-remark-container-text-color: #fff;
    --withdrawal-remark-container-border-color: #f00;
    --trans-item-green-color: #66f480;
    --trans-item-red-color: #ff695e;
    --pending-transaction-page-bg: #1a120b;
    --back-link-cntr-a-color: #fff;
    --back-link-cntr-a-hover-color: #fff;
    --back-link-cntr-a-img-filter: invert(1);
    --pending-trans-section-head-span-color: #fff;
    --pending-trans-section-head-a-color: #b77f2e;
    --pending-trans-section-head-a-hover-color: #7a5c2e;
    --pending-trans-car-item-bg: #2a1f15;
    --pending-trans-car-item-info-section-details-primary-color: #ececec;
    --pending-trans-car-item-info-section-details-secondary-color: #bdbdbd;
    --pending-trans-car-item-download-qr-btn-bg: linear-gradient(to right, #d4a259 0%, #7a5c2e 100%);
    --pending-trans-car-item-download-qr-btn-color: #fff;
    --pending-trans-car-item-download-qr-btn-hover-bg: linear-gradient(to right, #7a5c2e 0%, #d4a259 100%);
    --pending-trans-car-item-download-qr-btn-hover-color: #fff;
    --reporting-group-transaction-item-border-top-color: #242424;
    --reporting-detail-popup-bg: #1a120b;
    --pending-trans-detail-primary-color: #fff;
    --pending-trans-detail-secondary-color: #bdbdbd;
    --pending-trans-detail-card-bg: #3d2e1a;
    --pending-trans-detail-card-border-color: #404040;
    --pending-trans-detail-card-secondary-section-bg: #2a1f15;
    --pending-trans-detail-remarks-color: #fff;
    --pending-trans-info-chevron-icon-filter: invert(1);
    --pending-trans-info-copy-icon-filter: invert(1);
    --pending-trans-expiration-in-color: #a9a9a9;
    --pending-trans-expiration-countdown-color: #b77f2e;
    --reporting-detail-overlay-bg: #1a120b;
    --reporting-detail-overlay-color: #fff;
    --reporting-detail-overlay-close-button-filter: invert(1);
    --bet-report-detail-container-primary-bg: #2a1f15;
    --bet-report-detail-container-secondary-bg: #3d2e1a;
    --bet-report-detail-header-border-color: #333a60;
    --bet-report-detail-link-color: var(--theme-text-color);
    --claim-item-type-bg: #5e4a35;
    --claim-item-type-expiration-countdown-bg: #3d2e1a;
    --claim-item-card-bg: #2a1f15;
    --claim-item-card-text-color: #fff;
    --claim-item-card-note-text-color: #b77f2e;
    --claim-item-card-border-color: #5e4a35;
    --claim-item-activation-button-bg: #b77f2e;
    --claim-item-claim-button-bg: linear-gradient(to bottom, #b77f2e 0%, #7a5c2e 100%);
    --claim-item-claim-button-border-color: #d4a259;
    --claim-item-info-button-bg: #555;
    --claim-info-remarks-bg: #1f170f;
    --claim-info-remarks-text-color: #fff;
    --claim-info-remarks-border-color: #b77f2e;
    --claim-info-highlighted-section-bg: #ffffff26;
    --claim-info-highlighted-section-text-color: #d0d0d0;
    --claim-info-turnover-calculation-note-text-color: #eabd79;
    --combine-promo-info-warning-color: #db7500;
    --combine-promo-info-value-text-color: #fff;
    --bonus-progress-bg: #3a1d37;
    --bonus-progress-bar-bg: #77126d;
    --bonus-slider-modal-bg: #171717;
    --bonus-slider-form-bg: #202020;
    --bonus-slider-form-text-color: #dad9d9;
    --bonus-slider-form-border-top-color: #8c8c8c;
    --bonus-slider-control-button-bg: #e4e4e4;
    --bonus-slider-control-button-color: #525252;
    --bonus-slider-activation-button-hover-bg: #b77f2e;
    --messaging-side-menu-bg: #1a120b;
    --messaging-side-menu-text-color: #fff;
    --notification-tab-item-bg: #1f170f;
    --notification-tab-item-text-color: #fff;
    --notification-tab-item-border-bottom-color: #333;
    --notification-tab-item-active-border-bottom-color: #b77f2e;
    --notification-item-bg: #1a120b;
    --notification-item-border-color: #333;
    --notification-item-unread-bg: #2a1f15;
    --notification-item-unread-border-color: #b77f2e;
    --notification-item-unread-label-bg: #7a5c2e;
    --notification-item-main-text-color: #fff;
    --notification-item-sub-text-color: #858585;
    --notification-item-teaser-text-color: #cfcfcf;
    --notification-empty-image-bg: #353051;
    --reporting-control-group-bg: #1f170f;
    --reporting-table-header-bg: #1f170f;
    --reporting-table-header-text-color: #fff;
    --reporting-table-body-bg: #1a120b;
    --reporting-table-body-text-color: #cfcfcf;
    --reporting-table-body-border-color: #1f170f;
    --reporting-table-grid-totals-color: #7a5c2e;
    --no-data-container-image-filter: invert(16%) sepia(32%) saturate(662%) hue-rotate(225deg) brightness(92%) contrast(94%);
    --no-data-container-text-color: #463758;
    --referral-code-container-border-color: #b77f2e;
    --referral-button-bg: linear-gradient(to right, #b77f2e 0%, #7a5c2e 100%);
    --referral-show-qr-button-bg: #1f170f;
    --referral-show-qr-button-text-color: #fff;
    --referral-show-qr-button-icon-filter: initial;
    --referral-share-button-img-filter: invert(100%) invert(33%) sepia(25%) saturate(6391%) hue-rotate(260deg) brightness(96%) contrast(83%);
    --referral-update-verification-note-bg: #261039;
    --referral-statistic-box-bg: #2d183c;
    --referral-statistic-box-border: none;
    --referral-statistic-box-border-bottom: 1px solid #b77f2e;
    --referral-statistic-box-text-color: #fff;
    --referral-statistic-box-amount-text-color: #b77f2e;
    --referral-guidance-feature-item-bg: #171225;
    --referral-guidance-feature-icon-container-bg: linear-gradient(to bottom, #d4a259 0%, #7a5c2e 100%);
    --referral-guidance-feature-info-title-color: #fff;
    --referral-verification-form-note-bg: #cbcbcb;
    --referral-verification-form-note-color: #363565;
    --referral-verification-footer-line-bg: #858585;
    --referral-pending-verification-image-bg: #580c50;
    --mobile-app-select-text-color: #fff;
    --mobile-app-select-active-bg: #d4a259;
    --daily-reward-popup-title-text-color: #fff;
    --daily-reward-popup-sub-title-text-color: #a9a9a9;
    --daily-reward-popup-detail-description-bg: #2f2e35;
    --daily-reward-popup-detail-description-text-color: #bbb;
    --double-exp-countdown-container-bg: #29243b;
    --double-exp-countdown-container-text-color: #fff;
    --double-exp-countdown-number-bg: #05040a;
    --double-exp-countdown-number-separator-bg: #343045;
    --loyalty-container-bg: #0a0813;
    --loyalty-container-title-text-color: #fff;
    --loyalty-top-bar-container-bg: linear-gradient(82.95deg, #0f0b07 -41.64%, #5e4a35 138.36%);
    --loyalty-top-bar-container-text-color: #fff;
    --loyalty-top-bar-container-separator-bg: #fff3;
    --loyalty-top-bar-experience-bar-bg: #0a0a0a;
    --loyalty-top-bar-current-experience-point-text-color: #b77f2e;
    --loyalty-top-bar-experience-message-text-color: #d4a259;
    --loyalty-top-bar-icon-image-filter: invert(1);
    --loyalty-top-bar-loyalty-point-container-bg: #100e20;
    --loyalty-top-bar-loyalty-point-info-icon-bg: #a8a8a8;
    --loyalty-top-bar-accumulated-point-container-bg: #0e0e0e;
    --loyalty-top-bar-accumulated-point-container-text-color: #a8a8a8;
    --loyalty-menu-item-bg: #292244;
    --loyalty-reward-tab-filter-item-bg: #1e1c2c;
    --loyalty-reward-tab-filter-item-text-color: #dbdbdb;
    --loyalty-reward-tab-filter-item-active-bg: #b77f2e;
    --loyalty-reward-tab-filter-item-text-color: #fff;
    --loyalty-reward-category-title-border-color: #504682;
    --loyalty-reward-product-card-bg: #18152a;
    --loyalty-reward-product-card-item-lp-container-bg: #fff3;
    --loyalty-reward-product-card-item-lp-container-real-point-text-color: #6c757d;
    --loyalty-reward-product-card-redeem-button-bg: #7a5c2e;
    --loyalty-reward-product-card-redeem-button-bg-img: linear-gradient(to right, #7a5c2e 0%, #3d2e1a 100%);
    --loyalty-reward-product-card-disabled-button-bg: #403d63b2;
    --loyalty-reward-product-card-disabled-button-text-color: #ffffff4d;
    --loyalty-reward-product-scrollbar-bg: #58585a;
    --loyalty-reward-mission-item-bg: #322c44;
    --loyalty-reward-mission-item-text-color: #fff;
    --loyalty-reward-mission-progress-bg: #020202;
    --loyalty-reward-mission-progress-text-color: #fff;
    --loyalty-reward-mission-progress-completed-text-color: #fff;
    --loyalty-reward-mission-action-container-bg: #22183a;
    --loyalty-reward-mission-action-container-start-button-bg: #b77f2e;
    --loyalty-history-filter-bg: #0c0914;
    --loyalty-history-filter-text-color: #fff;
    --loyalty-history-filter-border-color: #1f1632;
    --loyalty-history-list-item-bg: #1f170f;
    --loyalty-how-it-works-section-bg: #111;
    --loyalty-how-it-works-section-border-color: #212121;
    --loyalty-how-it-works-section-title-bg: #393939;
    --loyalty-how-it-works-section-title-text-color: #b77f2e;
    --loyalty-level-item-bg: #18152a;
    --loyalty-level-item-text-color: #ffffff4d;
    --loyalty-level-item-active-bg: #312b4e;
    --loyalty-level-item-text-active-color: #fff;
    --loyalty-level-item-lock-icon-image-filter: initial;
    --loyalty-level-progress-bar-bg: #2b283a;
    --loyalty-level-remarks-container-bg: #b77f2e17;
    --loyalty-level-remarks-container-border-color: #b77f2e;
    --loyalty-benefits-container-bg: #150f29;
    --loyalty-benefits-list-item-bg: #1e163a;
    --loyalty-benefits-list-item-box-shadow: 0 4px 4px 0 #00000040;
    --loyalty-benefits-list-item-sub-text-color: #a8a8a8;
    --loyalty-benefits-list-item-arrow-icon-img-filter: invert(1);
    --loyalty-benefits-modal-main-text-color: #fff;
    --loyalty-benefits-modal-sub-text-color: #b2b0b9;
    --provider-list-text-color: #bfbbd0;
    --games-filter-section-bg: #0a0814;
    --games-filter-section-text-color: #9694a0;
    --games-filter-input-bg: #191723;
    --games-filter-tab-text-active-color: #fff;
    --games-filter-tab-text-active-border-bottom-color: #b77f2e;
    --games-list-text-color: #fff;
    --games-list-card-bg: #2a1f15;
    --games-list-card-bg-img: linear-gradient(to bottom, #2a1f15 0%, #1f170f 100%);
    --vendor-page-game-buttons-field-bg: #1f170f;
    --otp-popup-background: #141125;
    --otp-popup-text-color: #fff;
    --otp-input-bg: #0b0916;
    --otp-input-text-color: #fff;
    --otp-input-text-border-color: #3e3a50;
    --otp-input-text-filled-border-color: #b77f2e;
    --contact-verification-input-bg: #141414;
    --contact-verification-input-text-color: #dbdbdb;
    --contact-verification-input-border-color: #2c2c2c;
    --promotion-top-tab-container-bg: #0c0a17;
    --promotion-top-tab-container-active-bg: #3d2e1a;
    --promotion-top-tab-container-text-color: #fff;
    --promotion-filter-tab-bg: #211f2d;
    --promotion-filter-tab-text-color: #9694a0;
    --promotion-filter-tab-active-bg: #3d2e1a;
    --promotion-filter-tab-active-text-color: #fff;
    --promotion-item-bg: #3d2e1a;
    --promotion-item-text-color: #fff;
    --promotion-item-sub-text-color: #acabaa;
    --promotion-item-get-promo-button-bg: #b77f2e;
    --promotion-item-get-button-text-color: #fff;
    --promotion-item-detail-button-border-color: #fff;
    --promotion-item-detail-button-text-color: #fff;
    --promotion-countdown-bg: #5e4a35;
    --promotion-countdown-text-color: #fff;
    --promotion-countdown-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    --promotion-countdown-number-bg: #f6f6f6;
    --promotion-countdown-number-text-color: #5e4a35;
    --promotion-share-button-border-color: #969696;
    --promotion-share-button-text-color: #fff;
    --promotion-share-button-icon-filter: invert(1) brightness(2);
    --date-range-picker-topbar-bg: #1f170f;
    --date-range-picker-selected-start-end-bg: #7a5c2e;
    --date-range-picker-selected-today-bg: #b77f2e;
    --date-range-picker-selected-range-bg: #edd8f8;
    --intro-js-tooltip-bg: #f2f2f3;
    --intro-js-tooltip-title-text-color: #333;
    --intro-js-tooltip-description-text-color: #333;
    --popover-bg: #171225;
    --popover-text-color: #fff;
    --popover-border-color: #b77f2e;
    --drawer-cntr-bg: #252525;
    --drawer-cntr-color: #fff;
    --drawer-cntr-displayed-content-label-input-radio-before-bg: #363636;
    --drawer-cntr-displayed-content-label-input-radio-before-border: #6f6f6f;
    --drawer-cntr-displayed-content-label-input-radio-checked-before-bg: #252525;
    --drawer-cntr-displayed-content-label-input-radio-checked-before-border: #b77f2e;
    --drawer-cntr-displayed-content-label-input-radio-checked-after-bg: #b77f2e;
    --reporting-form-cntr-group-select-form-control-bg: #080808;
    --reporting-form-cntr-group-form-control-select-border: #b77f2e;
    --reporting-form-cntr-group-form-control-select-color: #fff;
    --resolved-transaction-carousel-navigation-bg: #3d3d3d;
    --resolved-transaction-carousel-navigation-border-color: #8d8d8d;
    --resolved-transaction-carousel-navigation-arrow-filter: invert(1);
    --resolved-transaction-copy-icon-filter: invert(0);
    --resolved-transaction-header-icon: invert(0);
    --resolved-transaction-status-app-filter: brightness(0) saturate(100%) invert(85%) sepia(9%) saturate(2459%) hue-rotate(68deg) brightness(102%) contrast(88%);
    --resolved-transaction-status-rej-filter: brightness(0) saturate(100%) invert(76%) sepia(54%) saturate(2439%) hue-rotate(305deg) brightness(95%) contrast(144%);
    --modal-body-resolved-trans-wrapped-body-border-color: #404040;
    --modal-body-resolved-trans-details-bg: #252525;
    --modal-body-resolved-trans-details-cntr-bg: #212121;
    --modal-body-resolved-trans-details-cntr-border: none;
    --modal-body-resolved-trans-details-primary-color: #fff;
    --modal-body-resolved-trans-details-secondary-color: #bdbdbd;
    --modal-body-resolved-trans-details-dashed-color: rgba(255, 255, 255, .25);
    --modal-body-resolved-trans-details-amount-color: #fff;
    --modal-body-resolved-trans-details-rejected-reason-container-color: #362121;
    --modal-body-resolved-trans-details-rejected-reason-container-border-color: #4e2e2e;
    --modal-body-resolved-trans-details-rejected-reason-text-color: #ff8181;
    --free-spin-report-container-bg: #212121;
    --free-spin-report-title-color: #fff;
    --free-spin-report-detail-color: #bdbdbd;
    --free-spin-report-status-failed: #ff8181;
    --free-spin-report-status-pending: #feb944;
    --free-spin-report-status-success: #6ff082;
    --free-spin-report-status-ongoing-img: brightness(0) invert(1) brightness(.741);
    --reporting-group-inner-card-border-top-color: #5e4a35;
    --empty-table-cntr-color: #888;
    --empty-table-cntr-img-filter: initial;
    --attachments-preview-pagination-bg: #fff3;
    --attachments-preview-pagination-color: #fff;
    --case-number-color: #b77f2e;
    --appeal-btn-border-color: #b77f2e;
    --appeal-btn-color: #b77f2e;
    --appeal-status-header-bg: #322d4f;
    --appeal-case-number-label-color: #dbdbdb;
    --appeal-status-header-color: #dbdbdb;
    --appeal-timeline-border-color: #fff3;
    --appeal-status-timeline-color: #bdbdbd;
    --appeal-status-timeline-details-bg: #181524;
    --appeal-status-timeline-details-color: #bdbdbd;
    --appeal-status-current-progress-color: #89ed95;
    --appeal-close-note-border-color: #f1f1f1;
    --appeal-cert-number-section-color: #dbdbdb;
    --appeal-case-number-btn-img-filter: invert(0);
    --appeal-close-note-border-color: #1f1f1f;
    --appeal-form-label-color: #fff;
    --tracker-form-title-color: #fff;
    --appeal-container-bg: #0d0b18;
    --complaint-remarks-bg: linear-gradient(83.87deg, #0f0b07 -41.67%, #5e4a35 116.05%);
    --complaint-remarks-header-color: #b77f2e;
    --complaint-form-link-header-a-true-bg: #5e4a35;
    --complaint-form-link-header-a-true-color: #fff;
    --complaint-form-link-header-a-color: #fff;
    --complaint-form-link-header-a-bg: #252339;
    --std-form-container-form-control-bg: #0b0916;
    --std-form-container-form-control-border: #363538;
    --complaint-submit-button-bg: linear-gradient(90deg, #7a5c2e 0%, #3d2e1a 100%);
    --complaint-form-procedure-steps-color: #dbdbdb;
    --complaint-form-procedure-steps-bg: #312850;
    --complaint-upload-box-border-color: #b77f2e;
    --complaint-upload-box-plus-color: #b77f2e;
    --footer-separator-border: 1px solid #302f3a;
    --footer-description-header-color: #d5d5d5;
    --footer-description-note-color: #676767;
    --footer-sitemap-header-color: #d5d5d5;
    --footer-sitemap-link-color: #676767;
    --footer-bank-list-note-color: #939393;
    --footer-sitemap-icon-bg: #2d2652;
    --footer-sitemap-icon-filter: invert(.5);
    --footer-sitemap-qr-icon-filter: invert(0);
    --footer-featured-product-bg: #1c1831;
    --footer-card-container-border: #292440;
    --footer-copyright-color: #b89b7b
}
